body {
    background-color: plum;
    /* or cornflower blue */
}

.center-content {
    text-align: center;
  }
  
  .Portrait {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
